<h1>Hello</h1>

<% @boats.each do | boat | %>

<div>
<a href="http://localhost:3000/boats/<%=boat.id%>">click for show</a>
<p> name: <%= boat.name %></p>
<p> color: <%= boat.color %></p>
<p>price: <%= boat.price %></p>
<p>year: <%= boat.year %></p>
</div>
<hr>


<% end %>


<h2>Create a new boat</h2>
<%= form_tag "/boats" , method: :post do %>
<input type = text placeholder="boat name" name = "name">
<input type = text placeholder="boat color" name = "color">
<input type = text placeholder="boat price" name = "price">
<input type = text placeholder="boat year" name = "year">
<button type= "submit">submit</p>
<%end%>
</form>